[submodule "dataset/ustore"]
	path = dataset/ustore
	url = https://github.com/unum-cloud/ustore
[submodule "dataset/usearch"]
	path = dataset/usearch
	url = https://github.com/unum-cloud/usearch
[submodule "dataset/ucall"]
	path = dataset/ucall
	url = https://github.com/unum-cloud/ucall
[submodule "dataset/json"]
	path = dataset/json
	url = git@github.com:nlohmann/json.git
[submodule "dataset/fastcoin"]
	path = dataset/fastcoin
	url = https://github.com/imharrywu/fastcoin.git
[submodule "dataset/cppblog"]
	path = dataset/cppblog
	url = https://github.com/juanchopanza/cppblog.git
[submodule "dataset/hexbright"]
	path = dataset/hexbright
	url = https://github.com/dhiltonp/hexbright.git
[submodule "dataset/superfastmatch"]
	path = dataset/superfastmatch
	url = https://github.com/mediastandardstrust/superfastmatch.git
[submodule "dataset/ZeroReserve"]
	path = dataset/ZeroReserve
	url = https://github.com/zeroreserve/ZeroReserve.git
[submodule "dataset/clothes_parsing"]
	path = dataset/clothes_parsing
	url = https://github.com/bobbens/clothes_parsing.git
[submodule "dataset/opencore-amr-js"]
	path = dataset/opencore-amr-js
	url = https://github.com/yxl/opencore-amr-js.git
[submodule "dataset/iot-button-emulator"]
	path = dataset/iot-button-emulator
	url = https://github.com/ianmas-aws/iot-button-emulator.git
[submodule "dataset/Competitve-Programming"]
	path = dataset/Competitve-Programming
	url = https://github.com/ishan-nitj/Competitve-Programming.git
[submodule "dataset/interview"]
	path = dataset/interview
	url = https://github.com/wolf5x/interview.git
[submodule "dataset/qrisp"]
	path = dataset/qrisp
	url = https://github.com/google/qrisp.git
[submodule "dataset/iSpan"]
	path = dataset/iSpan
	url = https://github.com/iHeartGraph/iSpan.git
[submodule "dataset/Wallet"]
	path = dataset/Wallet
	url = https://github.com/beetledev/Wallet.git
[submodule "dataset/IIS.Setup"]
	path = dataset/IIS.Setup
	url = https://github.com/microsoft/IIS.Setup.git
[submodule "dataset/WebSocketStreamClient"]
	path = dataset/WebSocketStreamClient
	url = https://github.com/areve/WebSocketStreamClient.git
[submodule "dataset/ITKStrain"]
	path = dataset/ITKStrain
	url = https://github.com/KitwareMedical/ITKStrain.git
[submodule "dataset/maplestory-client-hook"]
	path = dataset/maplestory-client-hook
	url = https://github.com/Hucaru/maplestory-client-hook.git
[submodule "dataset/SUTURE"]
	path = dataset/SUTURE
	url = https://github.com/seclab-ucr/SUTURE.git
[submodule "dataset/tut-framework"]
	path = dataset/tut-framework
	url = https://github.com/mrzechonek/tut-framework.git
[submodule "dataset/nanonote"]
	path = dataset/nanonote
	url = https://github.com/agateau/nanonote.git
[submodule "dataset/Secure_data_transmission"]
	path = dataset/Secure_data_transmission
	url = https://github.com/Peachol/Secure_data_transmission.git
[submodule "dataset/mimium"]
	path = dataset/mimium
	url = https://github.com/mimium-org/mimium.git
[submodule "dataset/react-native-worklets-core"]
	path = dataset/react-native-worklets-core
	url = https://github.com/margelo/react-native-worklets-core.git
[submodule "dataset/criterion"]
	path = dataset/criterion
	url = https://github.com/p-ranav/criterion.git
[submodule "dataset/itoa"]
	path = dataset/itoa
	url = https://github.com/jeaiii/itoa.git
[submodule "dataset/yuzu-android"]
	path = dataset/yuzu-android
	url = https://github.com/yuzu-emu/yuzu-android.git
[submodule "dataset/sparkle"]
	path = dataset/sparkle
	url = https://github.com/tcoppex/sparkle.git
[submodule "dataset/heyoka"]
	path = dataset/heyoka
	url = https://github.com/bluescarni/heyoka.git
[submodule "dataset/osre"]
	path = dataset/osre
	url = https://github.com/kimkulling/osre.git
[submodule "dataset/gl"]
	path = dataset/gl
	url = https://github.com/acdemiralp/gl.git
[submodule "dataset/FRequest"]
	path = dataset/FRequest
	url = https://github.com/fabiobento512/FRequest.git
[submodule "dataset/signalsmith-stretch"]
	path = dataset/signalsmith-stretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch.git
[submodule "dataset/ESP32Console"]
	path = dataset/ESP32Console
	url = https://github.com/jbtronics/ESP32Console.git
[submodule "dataset/sketch"]
	path = dataset/sketch
	url = https://github.com/dnbaker/sketch.git
[submodule "dataset/shell-plus-plus"]
	path = dataset/shell-plus-plus
	url = https://github.com/alexst07/shell-plus-plus.git
[submodule "dataset/sling"]
	path = dataset/sling
	url = https://github.com/ringgaard/sling.git
[submodule "dataset/godot_tree_generator_plugin"]
	path = dataset/godot_tree_generator_plugin
	url = https://github.com/Zylann/godot_tree_generator_plugin.git
[submodule "dataset/moustique"]
	path = dataset/moustique
	url = https://github.com/matt-42/moustique.git
[submodule "dataset/input-source-switcher"]
	path = dataset/input-source-switcher
	url = https://github.com/vovkasm/input-source-switcher.git
[submodule "dataset/NoTouchID"]
	path = dataset/NoTouchID
	url = https://github.com/al3xtjames/NoTouchID.git
[submodule "dataset/dynamodb-shell"]
	path = dataset/dynamodb-shell
	url = https://github.com/awslabs/dynamodb-shell.git
[submodule "dataset/dsp"]
	path = dataset/dsp
	url = https://github.com/Signalsmith-Audio/dsp.git
[submodule "dataset/LuaAV"]
	path = dataset/LuaAV
	url = https://github.com/LuaAV/LuaAV.git
[submodule "dataset/GPUSmoke"]
	path = dataset/GPUSmoke
	url = https://github.com/michal1000w/GPUSmoke.git
[submodule "dataset/fmt"]
	path = dataset/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dataset/imgui-flame-graph"]
	path = dataset/imgui-flame-graph
	url = https://github.com/bwrsandman/imgui-flame-graph.git
[submodule "dataset/NPD"]
	path = dataset/NPD
	url = https://github.com/wincle/NPD.git
[submodule "dataset/flowcpp"]
	path = dataset/flowcpp
	url = https://github.com/kittinunf/flowcpp.git
[submodule "dataset/foldcomp"]
	path = dataset/foldcomp
	url = https://github.com/steineggerlab/foldcomp.git
[submodule "dataset/sarus"]
	path = dataset/sarus
	url = https://github.com/eth-cscs/sarus.git
[submodule "dataset/nest-compiler"]
	path = dataset/nest-compiler
	url = https://github.com/etri/nest-compiler.git
[submodule "dataset/TouchEngine-UE"]
	path = dataset/TouchEngine-UE
	url = https://github.com/TouchDesigner/TouchEngine-UE.git
[submodule "dataset/Tight-Inclusion"]
	path = dataset/Tight-Inclusion
	url = https://github.com/Continuous-Collision-Detection/Tight-Inclusion.git
[submodule "dataset/penguintrace"]
	path = dataset/penguintrace
	url = https://github.com/penguintrace/penguintrace.git
[submodule "dataset/cpp-effects"]
	path = dataset/cpp-effects
	url = https://github.com/maciejpirog/cpp-effects.git
[submodule "dataset/Calico"]
	path = dataset/Calico
	url = https://github.com/yangjames/Calico.git
[submodule "dataset/Procedural-Terrain-Generator-OpenGL"]
	path = dataset/Procedural-Terrain-Generator-OpenGL
	url = https://github.com/stanfortonski/Procedural-Terrain-Generator-OpenGL.git
[submodule "dataset/ParallelQSlim"]
	path = dataset/ParallelQSlim
	url = https://github.com/Zielon/ParallelQSlim.git
[submodule "dataset/hpenc"]
	path = dataset/hpenc
	url = https://github.com/vstakhov/hpenc.git
[submodule "dataset/ctbignum"]
	path = dataset/ctbignum
	url = https://github.com/niekbouman/ctbignum.git
[submodule "dataset/multi_uav_simulator"]
	path = dataset/multi_uav_simulator
	url = https://github.com/malintha/multi_uav_simulator.git
[submodule "dataset/Fuser"]
	path = dataset/Fuser
	url = https://github.com/NVIDIA/Fuser.git
[submodule "dataset/stdexec"]
	path = dataset/stdexec
	url = https://github.com/NVIDIA/stdexec.git
[submodule "dataset/cuda-quantum"]
	path = dataset/cuda-quantum
	url = https://github.com/NVIDIA/cuda-quantum.git
[submodule "dataset/TensorRT"]
	path = dataset/TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
[submodule "dataset/cccl"]
	path = dataset/cccl
	url = https://github.com/NVIDIA/cccl.git
[submodule "dataset/VisRTX"]
	path = dataset/VisRTX
	url = https://github.com/NVIDIA/VisRTX.git
[submodule "dataset/VideoProcessingFramework"]
	path = dataset/VideoProcessingFramework
	url = https://github.com/NVIDIA/VideoProcessingFramework.git
[submodule "dataset/motion-toolkit"]
	path = dataset/motion-toolkit
	url = https://github.com/dtecta/motion-toolkit.git
[submodule "dataset/joedb"]
	path = dataset/joedb
	url = https://github.com/Remi-Coulom/joedb.git
[submodule "dataset/libunicode"]
	path = dataset/libunicode
	url = https://github.com/contour-terminal/libunicode.git
[submodule "dataset/meazure"]
	path = dataset/meazure
	url = https://github.com/cthing/meazure.git
[submodule "dataset/tsl"]
	path = dataset/tsl
	url = https://github.com/google/tsl.git
[submodule "dataset/quiche"]
	path = dataset/quiche
	url = https://github.com/google/quiche.git
[submodule "dataset/distributed_point_functions"]
	path = dataset/distributed_point_functions
	url = https://github.com/google/distributed_point_functions.git
[submodule "dataset/ruy"]
	path = dataset/ruy
	url = https://github.com/google/ruy.git
[submodule "dataset/highway"]
	path = dataset/highway
	url = https://github.com/google/highway.git
[submodule "dataset/googletest"]
	path = dataset/googletest
	url = https://github.com/google/googletest.git
[submodule "dataset/silifuzz"]
	path = dataset/silifuzz
	url = https://github.com/google/silifuzz.git
[submodule "dataset/tensorstore"]
	path = dataset/tensorstore
	url = https://github.com/google/tensorstore.git
[submodule "dataset/rocksdb"]
	path = dataset/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "dataset/folly"]
	path = dataset/folly
	url = https://github.com/facebook/folly.git
[submodule "dataset/redex"]
	path = dataset/redex
	url = https://github.com/facebook/redex.git
[submodule "dataset/vcpkg-tool"]
	path = dataset/vcpkg-tool
	url = https://github.com/microsoft/vcpkg-tool.git
[submodule "dataset/spot"]
	path = dataset/spot
	url = https://github.com/nbonneel/spot.git
[submodule "dataset/simple-os"]
	path = dataset/simple-os
	url = https://github.com/povilasb/simple-os.git
[submodule "dataset/ICPin"]
	path = dataset/ICPin
	url = https://github.com/nccgroup/ICPin.git
[submodule "dataset/SamplinSafari"]
	path = dataset/SamplinSafari
	url = https://github.com/wkjarosz/SamplinSafari.git
[submodule "dataset/Arduino-USBMIDI"]
	path = dataset/Arduino-USBMIDI
	url = https://github.com/lathoub/Arduino-USBMIDI.git
[submodule "dataset/isaac_ros_image_pipeline"]
	path = dataset/isaac_ros_image_pipeline
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_image_pipeline.git
[submodule "dataset/BaoYan-Algorithm-Problems"]
	path = dataset/BaoYan-Algorithm-Problems
	url = https://github.com/EricLee8/BaoYan-Algorithm-Problems.git
[submodule "dataset/pillow-resize"]
	path = dataset/pillow-resize
	url = https://github.com/zurutech/pillow-resize.git
[submodule "dataset/EigenRand"]
	path = dataset/EigenRand
	url = https://github.com/bab2min/EigenRand.git
[submodule "dataset/ESP-Vindriktning"]
	path = dataset/ESP-Vindriktning
	url = https://github.com/LaskaKit/ESP-Vindriktning.git
[submodule "dataset/nozoid_OCS-2"]
	path = dataset/nozoid_OCS-2
	url = https://github.com/ch-nry/nozoid_OCS-2.git
[submodule "dataset/isaac_ros_pose_estimation"]
	path = dataset/isaac_ros_pose_estimation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_pose_estimation.git
